.infoBox{
  background-image: linear-gradient(.25turn,#515151, 10%,#282828);
  height: 35rem;
  width: 88rem;
  border-radius: 0.7rem;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  /* height: 500rem; */
}

.firstBulletPoint{
  color: #ffcc29;
  font-weight: bold;
  font-family: 'Open Sans';
}

.text1{
  color:white;
  font-family: 'Montserrat';
  font-size: xx-large;
  font-weight: bolder;
}

.twoLinesOfText{
  margin-left: 10rem;
  margin-top: 7rem;

}

.contactUsButton{
  background:#ffcc29 ;
  font-family: 'Open Sans';
  font-size: large;
  font-weight: bolder;
  border-top: 1px solid black;
  border-radius: 10rem;
  width:13rem;
  height:3.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all .4s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.contactUsButton:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: #ffcc29 ;
  border-radius: 10rem;
  z-index: -2;
}
.contactUsButton:before{
  border-radius: 10rem;
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width:0%;
  height:100%;
  background-color: white;
  transition: all .4s;
  z-index: -1;
}

.contactUsButton:hover{
  color: white;
  text-decoration: underline;
  border-radius: 10rem;
}
.contactUsButton:hover:before{
  background-color: #ffcc29 ;
  width: 100%;
  border-radius: 10rem;
}

.contactUsButtonDiv{
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
  bottom: 5rem;
  border-radius: 10rem;

}


.arrowButton{
  height: 4.5rem;
  width: 4.5rem;
}


.infoDisplay{
  position: relative;
  top: 4rem;
  right: 6rem;
  left:0.1rem;
  width: 30rem;
}

.infoDisplayTitle{
  font-weight: bold;
  font-family: 'Open Sans';
}

.infoDisplayDescription{
  color: gray;
  line-height: 2rem;
}

.infoContainer{
  display: flex;
  flex-direction: row;
}

.infoPics{
  height: 10rem;
  width: 10rem;
  border:1px solid lightgray;
  margin-top: 10rem;
  margin-left:0.4rem;
  margin-right: 0.6rem;
}

.infoPicContainer{
  margin-left: 8rem;
}

.infoButtonsContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

}

.infoButtons{
  cursor: pointer;
  border-radius: 0.6rem;
  height: 10rem;
  width: 10rem;
  font-weight: bold;
  font-size: large;
  background-color: inherit;
  color: white;
  border: 1px solid lightgray;

}

.infoButtons:hover{
  background-color: white;
  color:black;
  text-decoration: underline;
  text-decoration-color:#ffcc29;
}

.infoButtons:active{
  background-color: lightgreen;
}

.infoButtons:focus{
  background-color: lightgreen;
}

.infoButtons:target{
  background-color: lightgreen;
}
